@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,600;1,400&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'arimo', sans-serif;
    height: 100vh;
    background-color: #17700D;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.container {
    text-align: center;
    padding: 40px;
    border: solid 5px #ddd;
    border-radius: 1px;
}

.container > h1 {
    font-weight: 600;
}

.container p {
    font-style: italic;
    margin: 10px 0px  15px 0px;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form > textarea {
    background-color: #ddd;
    outline: 0;
    resize: none;
    width: 500px;
    height: 100px;
    padding: 10px;
    font-family: inherit;
    font-size: 15px;
    overflow-y: auto;
    color: #000;
    border: double 2px #000;
}

.form .button {
    margin: 15px 0px;
}

.button {
    padding: 10px 30px;
    color: #2DD91A;
    background-color: #000;
    border: solid 2px #2DD91A;
    border-radius: 3px;
    font-weight: 600;
}

.button:hover {
    background-color: #6BDF5E;
    color: #000;
    border: solid 2px #000;
}

.notesArea {
    height: 250px;
    width: 500px;
    background-color: #000;
    color: #ddd;
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
}

/* style of elements added with javascript */


#emptyMessage {
    text-align: center;
    width: 100%;
}

.note {
    width: 150px;
    height: 125px;
    background-color: #ddd;
    color: #000;
    border-radius: 3px;
    padding: 3px;
    margin: 5px;
    font-size: 13px;
}

.note p {
    margin: 0;
    width: 100%;
    height: 60px;
    white-space: pre-wrap;
    overflow: hidden;
    word-break: break-all;
}

.note .button {
    padding: 5px 15px;
    display: inline-block;
    margin-top: 5px;
}


/*                End                     */

.modal {
    visibility: hidden;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: #000a;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal.isVisible {
    visibility: visible;
}

.modal-container {
    padding: 20px;
    height: 80%;
    width: 80%;
    overflow-y: auto;
    overflow-wrap: break-word;
    background-color: #ddd;
    padding: 10px 20px 20px 20px;
    cursor: auto;
}

.modal-header {
    display: flex;
    justify-content: flex-end;
}

#closePop-Up {
    font-size: 18px;
    padding-bottom: 20px;
    background: transparent;
    border: 0;
}

#modal-content {
    white-space: pre-wrap;
    word-wrap: break-all;
}