* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}





.modal {
    visibility: hidden;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: #000a;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal.isVisible {
    visibility: visible;
}

.modal-container {
    height: 80%;
    width: 80%;
    overflow-y: auto;
    background-color: #ddd;
    padding: 10px 20px 20px 20px;
    cursor: auto;
}