@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,600;1,400&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'arimo', sans-serif;
    height: 100vh;
    background-color: #17700D;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.container {
    text-align: center;
    padding: 40px;
    border: solid 5px #ddd;
    border-radius: 1px;
}

.container > h1 {
    font-weight: 600;
}

.container p {
    font-style: italic;
    margin: 10px 0px  15px 0px;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form > textarea {
    background-color: #ddd;
    outline: 0;
    resize: none;
    width: 500px;
    height: 100px;
    padding: 10px;
    font-family: inherit;
    font-size: 15px;
    overflow-y: auto;
    border: double 2px #000;
}




.modal {
    visibility: hidden;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: #000a;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal.isVisible {
    visibility: visible;
}

.modal-container {
    height: 80%;
    width: 80%;
    overflow-y: auto;
    background-color: #ddd;
    padding: 10px 20px 20px 20px;
    cursor: auto;
}