@use "../abstract" as abs;

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,700&display=swap");

* {
  @include abs.scrollbar;
  box-sizing: abs.$box-sizing-default;
  margin: abs.$no-margin;
  padding: abs.$no-padding;
}

body {
  background-color: abs.$body-bg-color;
  font-family: abs.$body-font;
}
