@use '../abstract' as abs;

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,700&display=swap');

* {
    @include abs.scrollbar;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    @include abs.flex-box;
    min-height: 100vh;
    background-color: abs.$background;
    color: abs.$black;
    font-family: abs.$font;
    font-size: 18px;
}