@use '../abstract' as abs;
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,600;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: abs.$light-yellow;
    color: abs.$dark-grey;
}