@use '../abstract' as abs;

#emptyMessage {
    text-align: center;
    width: 100%;
}

.note {
    @include abs.button(5px 15px, 3px 0px 0px 0px);
    width: 150px;
    height: 125px;
    padding: 3px;
    margin: 15px;
    font-size: 13px;
    background-color: #000;
    color: abs.$white;
    box-shadow: abs.$notes-shadow;
    position: relative;

    h1 {
        width: 75%;
        overflow: hidden;
        margin: auto;
    }

    p {
        margin: 0;
        width: 100%;
        height: 60px;
        white-space: pre-wrap;
        word-break: break-all;
        overflow: hidden;
    }

    .remove {
        position: absolute;
        top: -10px;
        left: -10px;
        height: 30px;
        width: 30px;
        background-color: abs.$red;
        border: 0;
        cursor: pointer;
        font-size: 15px;
        border-radius: 50%;
    }
}