@use '../abstract' as abs;

#emptyMessage {
    text-align: center;
    width: 100%;
}

.note {
    @include abs.button(5px 15px, 3px 0px 0px 0px);
    width: 150px;
    height: 150px;
    padding: 3px;
    margin: 15px;
    font-size: 13px;
    background-color: #000;
    color: abs.$white;
    box-shadow: abs.$notes-shadow;
    position: relative;

    h1 {
        width: 75%;
        overflow: hidden;
        margin: auto;
        margin-top: 10px;
    }

    p {
        margin: 0;
        width: 100%;
        height: 60px;
        white-space: pre-wrap;
        word-break: break-all;
        overflow: hidden;
    }


    .remove {
        @include abs.remove(abs.$red);
        left: -10px;
    }

    .edit {
        @include abs.button-base(2px 10px, abs.$black, abs.$hightlight-color);
        position: absolute;
        bottom: -10px;
        left: 50%;
        margin-left: -25px;
    }
}