@use "../abstract" as abs;

.container {
  @include abs.flex-box($direction: column);
  @include abs.form-style;
  padding: 10px 10px;
  min-height: 100vh;
  text-align: center;
  width: 100%;

  h1 {
    font-style: italic;
    font-weight: 600;
  }

  p {
    margin: 10px 0px 15px 0px;
  }

  .notesArea {
    @include abs.flex-box();
    background-color: abs.$dark-grey;
    border: abs.$default-border;
    color: abs.$light-grey;
    flex-wrap: wrap;
    height: 250px;
    overflow-y: auto;
    padding: 0.3rem 0 0.5rem 0;
    width: 100%;
  }
}
