@use "../abstract" as abs;

.container {
  @include abs.flex-box($direction: column);
  @include abs.form-style;
  min-height: abs.$container-min-height;
  padding: abs.$container-padding;
  text-align: abs.$container-text-align;
  width: abs.$container-width;

  h1 {
    font-size: abs.$container-h1-font-size;
    font-style: abs.$container-h1-font-style;
    font-weight: abs.$container-h1-font-weight;
  }

  p {
    font-size: abs.$container-p-font-size;
    margin: abs.$container-p-margin;
  }

  .notesArea {
    @include abs.flex-box();
    background-color: abs.$notes-area-bg-color;
    border: abs.$default-border;
    flex-wrap: abs.$notes-area-flex-wrap;
    height: abs.$notes-area-height;
    overflow-y: abs.$notes-area-overflow;
    padding: abs.$notes-area-padding;
    width: abs.$notes-area-width;
  }
}
