@use '../abstract' as abs;

.modal {
    @include abs.flex-box();
    background-color: abs.$transparent-black;
    bottom: 0;
    cursor: abs.$cursor-button;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    visibility: hidden;
    z-index: 10;

    .modal-container {
        background-color: abs.$white;
        cursor: abs.$cursor-normal;
        height: 85%;
        overflow-y: auto;
        overflow-wrap: break-word;
        padding: 20px;
        width: 85%;
    }

    .modal-header {
        @include abs.flex-box($justify: space-between);
        margin-bottom: 10px;
    }

    h1 {
        max-width: 70%;
    }

    #closePop-Up {
        background-color: abs.$white;
        border: 0;
        cursor: abs.$cursor-button;
        font-size: 18px;
        padding: 0px 10px;
    }

    #modal-content {
        margin-bottom: 20px;
        max-height: 85%;
        overflow-y: auto;
        white-space: pre-wrap;
    }
}

.modal.isVisible {
    visibility: visible;
}