@use '../abstract' as abs;

.modal {
    @include abs.flex-box();
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: abs.$transparent-black;
    cursor: pointer;
    visibility: hidden;

    .modal-container {
        height: 85%;
        width: 85%;
        background-color: abs.$white;
        padding: 20px;
        overflow-y: auto;
        overflow-wrap: break-word;
        cursor: auto;
    }

    .modal-header {
        @include abs.flex-box($justify: flex-end);
        margin-bottom: 10px;
    }

    #closePop-Up {
        font-size: 18px;
        padding: 0px 10px;
        border: 0;
        background-color: abs.$white;
        cursor: pointer;
    }
}

.modal.isVisible {
    visibility: visible;
}