@use "../abstract" as abs;

.modal {
  @include abs.flex-box();
  background-color: abs.$modal-bg-color;
  bottom: abs.$modal-bottom;
  cursor: abs.$button-cursor;
  visibility: abs.$modal-visibility;
  left: abs.$modal-left;
  position: abs.$modal-position;
  right: abs.$modal-right;
  top: abs.$modal-top;
  z-index: abs.$modal-z-index;

  .modal-container {
    background-color: abs.$modal-container-bg-color;
    cursor: abs.$modal-container-cursor;
    height: abs.$modal-container-height;
    padding: abs.$modal-container-padding;
    overflow-y: abs.$modal-container-overflow;
    width: abs.$modal-container-width;
  }

  .modal-header {
    @include abs.flex-box($justify: space-between, $align: flex-start);
    margin-bottom: 0.8rem;
  }

  h1 {
    font-size: abs.$modal-h1-font-size;
    max-width: abs.$modal-h1-max-width;
    word-break: abs.$modal-h1-word-break;
  }

  #closePop-Up {
    background-color: abs.$modal-close-bg-color;
    border: abs.$no-border;
    cursor: abs.$button-cursor;
    font-size: abs.$modal-close-font-size;
    padding: abs.$modal-close-padding;
  }

  #modal-content {
    max-height: abs.$modal-content-max-height;
    overflow-y: abs.$modal-content-overflow;
    white-space: abs.$modal-content-white-space;
    word-break: abs.$modal-content-word-break;
  }
}

.modal.isVisible {
  visibility: abs.$modal-visible;
}
