@use "../abstract/variables" as var;

@mixin flex-box($direction: row, $justify: center, $align: center) {
  align-items: $align;
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
}

@mixin border-solid() {
  border: solid 2px var.$border-color;
}

@mixin button-base($hover-bg, $hover-color) {
  @include border-solid();
  background-color: var.$button-bg-color;
  border-radius: 3px;
  color: var.$button-color;
  cursor: var.$button-cursor;
  font-family: inherit;
  font-size: var.$button-font-size;
  font-weight: var.$button-font-weight;
  padding: var.$button-padding;
  outline: 0;

  &:hover {
    background-color: $hover-bg;
    color: $hover-color;
  }
}

@mixin button($margin) {
  .button {
    @include button-base(var.$button-bg-color-hover, var.$button-color-hover);
    margin: $margin;
  }
}

@mixin remove($background) {
  background-color: var.$black;
  border: solid 2px $background;
  border-radius: 50%;
  color: $background;
  cursor: pointer;
  font-size: 15px;
  height: 30px;
  position: absolute;
  top: -10px;
  width: 30px;

  &:hover {
    background-color: $background;
    border: solid 3px var.$black;
    color: var.$black;
  }
}

@mixin form-inputs {
  @include border-solid();
  background-color: var.$dark-grey;
  color: var.$light-grey;
  font-family: var.$font;
  font-size: 15px;
  outline: 0;
  padding: 10px;
  width: 100%;
}

@mixin form-style {
  .form {
    @include flex-box($direction: column);
    @include button(var.$form-button-margin);

    #titleNote {
      @include form-inputs;
      margin-bottom: 1rem;
    }

    textarea {
      @include form-inputs;
      max-height: 250px;
      overflow-y: auto;
      resize: var.$no-resize;
    }
  }
}

@mixin scrollbar {
  scrollbar-color: var.$scrollbar-color;
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    width: var.$scrollbar-width;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var.$scrollbar-bg-color;
    border: var.$no-border;
    border-radius: var.$scrollbar-border-radius;;
  }
}

@mixin mobile-m {
  @media screen and (max-width: 40rem) {
    .note {
      width: 250px;
    }
  }
}
