@use '../abstract/variables' as var;

@mixin flex-box($direction: row, $justify: center, $align: center) {
    align-items: $align;
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
}

@mixin button-base($padding, $hover, $hover-color) { 
    background-color: var.$dark-grey;
    border: var.$border-button;
    border-radius: 3px;
    color: var.$color-button;
    cursor: var.$cursor-button;
    font-family: inherit;
    font-size: 13px;
    font-weight: 600;
    outline: 0;
    padding: $padding;

    &:hover {
        background-color: $hover;
        color: $hover-color;
    }
}

@mixin button($padding, $margin) {
    .button {
        @include button-base($padding, var.$light-grey, var.$color-button-hover);
        margin: $margin;
    }
}

@mixin remove($background) {
    background-color: var.$black;
    /*border: 0;*/
    border: solid 2px $background;
    border-radius: 50%;
    color: $background;
    cursor: var.$cursor-button;
    font-size: 15px;
    height: 30px;
    position: absolute;
    top: -10px;
    width: 30px;

    &:hover {
        background-color: $background;
        border: solid 3px var.$black;
        color: var.$black;
    }
}

@mixin form-inputs {
    background-color: var.$dark-grey;
    border: var.$border-input;
    color: var.$light-grey;
    font-family: var.$font-family-inputs;
    font-size: 15px;
    outline: 0;
    padding: 10px;
    width: 100%;
}

@mixin form-style {
    .form {
        @include flex-box($direction: column);
        @include button(10px 30px, 15px 0px);

        #titleNote {
            @include form-inputs;
            margin-bottom: 15px;
        }

        textarea {
            @include form-inputs;
            height: 100px;
            resize: none;
            overflow-y: auto;
        }
    }
}

@mixin scrollbar {
    scrollbar-color: var.$color-scrollbar;
    scrollbar-width: thin;
      
    &::-webkit-scrollbar {
       width: 6px;
    }
      
    &::-webkit-scrollbar-track {
        background: var.$color-scrollbar-background;
    }
      
    &::-webkit-scrollbar-thumb {
        background-color: var.$color-scrollbar;
        border: var.$no-border;
        border-radius: var.$border-radius-scrollbar;
    }
}

@mixin mobile-m {
    @media screen and (max-width: 400px) {
        .note {
            width: 250px;
        }
    }
}