@use '../abstract/variables' as var;

@mixin flex-box($direction: row, $justify: center, $align: center) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin border-solid($pixels, $color) {
    border: solid $pixels $color;
}

@mixin button-base($padding, $hover, $hover-color) {
    @include border-solid(2px, var.$hightlight-color);
    padding: $padding;
    background-color: var.$dark-grey;
    color: var.$hightlight-color;
    border-radius: 3px;
    font-size: 13px;
    font-weight: 600;
    font-family: inherit;
    outline: 0;
    cursor: pointer;

    &:hover {
        background-color: $hover-bg;
        color: $hover-color;
    }
}

@mixin button($padding, $margin) {
    .button {
        @include button-base($padding, var.$light-grey, var.$background);
        margin: $margin;
    }
}

@mixin remove($background) {
    position: absolute;
    top: -10px;
    height: 30px;
    width: 30px;
    border: 0;
    cursor: pointer;
    font-size: 15px;
    border-radius: 50%;
    color: $background;
    background-color: var.$black;
    border: solid 2px $background;

    &:hover {
        color: var.$black;
        border: solid 3px var.$black;
        background-color: $background;
    }
  }
}

@mixin form-inputs {
    @include border-solid(2px, var.$hightlight-color);
    width: 100%;
    padding: 10px;
    background-color: var.$dark-grey;
    color: var.$light-grey;
    font-family: var.$font;
    font-size: 15px;
    outline: 0;
}

@mixin form-style {
    .form {
        @include flex-box($direction: column);
        @include button(var.$padding-form-button, var.$margin-form-button);

        #titleNote {
            @include form-inputs;
            margin-bottom: var.$margin-title-note;
        }

        textarea {
            @include form-inputs;
            height: var.$height-textarea;
            resize: var.$no-resize;
            overflow-y: var.$overflow-textarea;
        }
    }
}

@mixin scrollbar {
    scrollbar-width: thin;
    scrollbar-color: var.$transparent-black;
      
    &::-webkit-scrollbar {
       width: var.$width-scrollbar;
    }
      
    &::-webkit-scrollbar-track {
        background: transparent;
    }
      
    &::-webkit-scrollbar-thumb {
        background-color: var.$transparent-black;
        border-radius: 20px;
        border: 0;
    }
}

@mixin mobile-m {
    @media screen and (max-width: var.$width-mobile-m) {
        .note {
            width: var.$width-note-mobile;
        }
    }
}