$black: #000;
$dark-green: #17700D;
$dark-grey: #222;
$green: #2DD91A;
$grey: #aaa;
$light-blue: #00D4E0;
$light-grey: #ddd;
$red: #F50B00;
$transparent: transparent;
$transparent-black: #0008;
$white: #fff;




$px-30: -30px;
$px-10: -10px;
$px0: 0px;
$px1: 1px;
$px2: 2px;
$px3: 3px;
$px5: 5px;
$px6: 6px;
$px10: 10px;
$px13: 13px;
$px15: 15px;
$px18: 18px;
$px20: 20px;
$px25: 25px;
$px30: 30px;
$px35: 35px;
$px50: 50px;
$px100: 100px;
$px250: 250px;
$px400: 400px;
$percent50: 50%;
$percent85: 85%;
$percent100: 100%;





$absolute: absolute;
$fixed: fixed;
$auto: auto;
$none: none;
$pointer: pointer;




$font-bold: 700;
$font-family: 'Roboto', Arial, sans-serif;
$font-family-body: $font-family;
$font-family-button: $font-family;
$font-family-input: $font-family;
$font-semi-bold: 600;
$font-size-button: $px13;
$font-size-input: $px15;
$font-size-remove: $px15;






$color-body-background: $dark-green;
$color-button: $green;
$color-button-border: $green;
$color-button-hover: $dark-green;
$color-button-remove: $red;
$color-button-remove-hover: $black;
$color-bg-button-hover: $light-grey;
$color-bg-input: $dark-grey;
$color-bg-remove: $black;
$color-bg-remove-hover: $red;
$color-input: $light-grey;
$color-input-border: $green;
$color-scrollbar: $transparent-black;
$color-scrollbar-background: $transparent;
$color-shadow: $green;
$cursor-button: $pointer;
$cursor-normal: $auto;





$border-button: solid $px2 $color-button-border;
$border-button-remove: solid $px2 $color-button-remove;
$border-button-remove-hover: solid $px2 $color-button-remove-hover;
$border-input: solid $px2 $color-input-border;
$border-radius-button: $px3;
$border-radius-remove: $percent50;
$border-radius-scrollbar: $px20;





$height-remove: $px30;
$height-textarea: $px100;




$margin-form-button: $px15 $px0;
$margin-title-note: $px15;




$no-border: $px0;
$no-margin: $px0;
$no-outline: $px0;
$no-padding: $px0;
$no-resize: $none;
$notes-box-shadow: $px0 $px0 $px5 $px3 $color-shadow;





$overflow-textarea: $auto;




$padding-form-button: $px10 $px30;
$padding-input: $px10;





$remove-left: $px-10;
$remove-position: $absolute;
$remove-top: $px-10;





$width-border: $px2;
$width-input: $percent100;
$width-mobile-m: $px400;
$width-note-mobile: $px250;
$width-remove: $px30;
$width-scrollbar: $px6;