$white: #fff;
$light-grey: #ddd;
$grey: #aaa;
$red: #F50B00;
$dark-green: #17700D;
$green: #2DD91A;
$dark-grey: #222;
$transparent-black: #0008;
$black: #000;





$no-border: 0;
$no-margin: 0;
$no-outline: 0;
$no-padding: 0;
$no-resize: 0;




$font: 'Roboto', Arial, sans-serif;
$font-bold: 700;
$font-semi-bold: 600;




$body-bg-color: $dark-green;
$body-font: $font;

$border-color: $green;


$button-bg-color: $dark-grey;
$button-bg-color-hover: $light-grey;
$button-color: $green;
$button-color-hover: $dark-green;
$button-cursor: pointer;
$button-font-size: 0.8rem;
$button-font-weight: $font-semi-bold;
$button-padding: 0.5rem 0.9rem;


$form-button-margin: 1rem;


$notes-area-border: solid 2px $green;
$notes-shadow: 0px 0px 5px 3px $green;


$scrollbar-bg-color: transparent;
$scrollbar-border-radius: 0.5rem;
$scrollbar-color: $transparent-black;
$scrollbar-width: 0.5rem;