@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,700&display=swap");
* {
  scrollbar-color: #6BDF5E;
  scrollbar-width: thin;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*::-webkit-scrollbar {
  width: 0.4rem;
}
*::-webkit-scrollbar-track {
  background: #0008;
}
*::-webkit-scrollbar-thumb {
  background-color: #6BDF5E;
  border: 0;
}

body {
  background-color: #17700D;
  font-family: "Roboto", Arial, sans-serif;
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  padding: 0.5rem;
  text-align: center;
  width: 100%;
}
.container .form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.container .form #titleNote {
  background-color: #222;
  border: solid 2px #2DD91A;
  color: #ddd;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 1.1rem;
  outline: 0;
  padding: 0.6rem;
  width: 100%;
  margin-bottom: 1rem;
}
.container .form textarea {
  background-color: #222;
  border: solid 2px #2DD91A;
  color: #ddd;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 1.1rem;
  outline: 0;
  padding: 0.6rem;
  width: 100%;
  height: 6rem;
  overflow-y: auto;
  resize: none;
}
.container .form .button {
  background-color: #222;
  border: solid 2px #2DD91A;
  border-radius: 0.3rem;
  color: #2DD91A;
  cursor: pointer;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 0.8rem;
  font-weight: 600;
  margin: 1rem;
  padding: 0.3rem 0.9rem;
  outline: 0;
}
.container .form .button:hover {
  background-color: #6BDF5E;
  color: #17700D;
}
.container h1 {
  font-size: calc(2rem + 2vw);
  font-style: italic;
  font-weight: 600;
}
.container p {
  font-size: calc(1.1rem + 0.5vw);
  margin: 0.5rem 0rem 0.9rem 0rem;
}
.container .notesArea {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #222;
  border: solid 2px #2DD91A;
  flex-wrap: wrap;
  height: 250px;
  overflow-y: auto;
  padding: 0.3rem 0rem 0.5rem 0rem;
  width: 100%;
}

#emptyMessage {
  text-align: center;
  width: 100%;
}

.note {
  background-color: #000;
  box-shadow: 0px 0px 5px 3px #2DD91A;
  color: #fff;
  margin: 0.9rem;
  padding: 1rem 0.3rem;
  position: relative;
  width: 85%;
}
.note .remove {
  background-color: #000;
  border: solid 2px #F50B00;
  border-radius: 50%;
  color: #F50B00;
  cursor: pointer;
  font-size: 0.9rem;
  left: -0.7rem;
  padding: 0.1rem 0.4rem;
  position: absolute;
  top: -0.7rem;
}
.note .remove:hover {
  background-color: #F50B00;
  border: solid 2px #000;
  color: #F50B00;
}
.note .edit {
  background-color: #222;
  border: solid 2px #2DD91A;
  border-radius: 0.3rem;
  color: #2DD91A;
  cursor: pointer;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 0.8rem;
  font-weight: 600;
  margin: 0;
  padding: 0.3rem 0.9rem;
  outline: 0;
  bottom: -0.9rem;
  left: 50%;
  margin-left: -2rem;
  position: absolute;
}
.note .edit:hover {
  background-color: #000;
  color: #2DD91A;
}
.note h1 {
  color: #ddd;
  font-size: 1.2rem;
  margin: auto;
  max-height: 1.2rem;
  overflow: hidden;
  text-overflow: ellipsis;
  width: hidden;
}
.note p {
  color: #aaa;
  font-size: 0.8rem;
  height: 4.9rem;
  margin: 0.4rem auto;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 95%;
  white-space: pre-wrap;
  word-break: break-all;
}
.note .button {
  background-color: #222;
  border: solid 2px #2DD91A;
  border-radius: 0.3rem;
  color: #2DD91A;
  cursor: pointer;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 0.8rem;
  font-weight: 600;
  margin: 0.2rem 0rem 0.3rem 0rem;
  padding: 0.3rem 0.9rem;
  outline: 0;
}
.note .button:hover {
  background-color: #6BDF5E;
  color: #17700D;
}

.modal {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #0008;
  cursor: pointer;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  visibility: hidden;
  z-index: 10;
}
.modal .modal-container {
  background-color: #fff;
  cursor: auto;
  height: 85%;
  padding: 20px;
  overflow-y: auto;
  overflow-wrap: break-word;
  width: 85%;
}
.modal .modal-header {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}
.modal h1 {
  max-width: 70%;
}
.modal #closePop-Up {
  background-color: #fff;
  border: 0;
  cursor: pointer;
  font-size: 18px;
  padding: 0px 10px;
}
.modal #modal-content {
  margin-bottom: 20px;
  max-height: 85%;
  overflow-y: auto;
  white-space: pre-wrap;
}
.modal .modal-footer {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 35px;
}

.modal.isVisible {
  visibility: visible;
}

@media screen and (min-width: 40rem) {
  .form {
    max-width: 100ch;
  }

  .notesArea {
    max-width: 100ch;
  }
  .notesArea .note {
    max-width: 30%;
  }
}

/*# sourceMappingURL=style.css.map */
