@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,700&display=swap");
* {
  scrollbar-color: #0008;
  scrollbar-width: thin;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*::-webkit-scrollbar {
  width: 6px;
}
*::-webkit-scrollbar-track {
  background: transparent;
}
*::-webkit-scrollbar-thumb {
  background-color: #0008;
  border: 0px;
  border-radius: 20px;
}

body {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #17700D;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 18px;
  min-height: 100vh;
}

.container {
  border-radius: 1px;
  max-width: 670px;
  padding: 10px 10px;
  text-align: center;
  width: 100vw;
}
.container .form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container .form .button {
  background-color: #222;
  border: solid 2px #2DD91A;
  border-radius: 3px;
  color: #2DD91A;
  cursor: pointer;
  font-family: inherit;
  font-size: 13px;
  font-weight: 600;
  outline: 0;
  padding: 10px 30px;
  margin: 15px 0px;
}
.container .form .button:hover {
  background-color: #ddd;
  color: #17700D;
}
.container .form #titleNote {
  background-color: #222;
  border: solid 2px #2DD91A;
  color: #ddd;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 15px;
  outline: 0;
  padding: 10px;
  width: 100%;
  margin-bottom: 15px;
}
.container .form textarea {
  background-color: #222;
  border: solid 2px #2DD91A;
  color: #ddd;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 15px;
  outline: 0;
  padding: 10px;
  width: 100%;
  height: 100px;
  resize: none;
  overflow-y: auto;
}
.container h1 {
  font-style: italic;
  font-weight: 600;
}
.container p {
  margin: 10px 0px 15px 0px;
}
.container .notesArea {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #222;
  border: solid 2px #2DD91A;
  color: #ddd;
  flex-wrap: wrap;
  height: 250px;
  overflow-y: auto;
  width: 100%;
}

#emptyMessage {
  text-align: center;
  width: 100%;
}

.note {
  background-color: #000;
  box-shadow: 0px 0px 5px 3px #2DD91A;
  color: #fff;
  margin: 15px;
  height: 150px;
  padding: 3px;
  position: relative;
  width: 150px;
}
.note .button {
  background-color: #222;
  border: solid 2px #2DD91A;
  border-radius: 3px;
  color: #2DD91A;
  cursor: pointer;
  font-family: inherit;
  font-size: 13px;
  font-weight: 600;
  outline: 0;
  padding: 3px 10px;
  margin: 3px 0px 0px 0px;
}
.note .button:hover {
  background-color: #ddd;
  color: #17700D;
}
.note h1 {
  font-size: 18px;
  height: 18px;
  margin: auto;
  margin-top: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 75%;
}
.note p {
  color: #aaa;
  font-size: 13px;
  height: 60px;
  margin: 5px auto;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 95%;
  white-space: pre-wrap;
  word-break: break-all;
}
.note .remove {
  background-color: #000;
  /*border: 0;*/
  border: solid 2px #F50B00;
  border-radius: 50%;
  color: #F50B00;
  cursor: pointer;
  font-size: 15px;
  height: 30px;
  position: absolute;
  top: -10px;
  width: 30px;
  left: -10px;
}
.note .remove:hover {
  background-color: #F50B00;
  border: solid 3px #000;
  color: #000;
}
.note .edit {
  background-color: #222;
  border: solid 2px #2DD91A;
  border-radius: 3px;
  color: #2DD91A;
  cursor: pointer;
  font-family: inherit;
  font-size: 13px;
  font-weight: 600;
  outline: 0;
  padding: 2px 10px;
  bottom: -10px;
  left: 50%;
  margin-left: -30px;
  position: absolute;
  width: 60px;
}
.note .edit:hover {
  background-color: #000;
  color: #2DD91A;
}

.modal {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #0008;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  visibility: hidden;
  z-index: 10;
}
.modal .modal-container {
  background-color: #fff;
  cursor: auto;
  height: 85%;
  overflow-y: auto;
  overflow-wrap: break-word;
  padding: 20px;
  width: 85%;
}
.modal .modal-header {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}
.modal h1 {
  max-width: 70%;
}
.modal #closePop-Up {
  background-color: #fff;
  border: 0;
  cursor: pointer;
  font-size: 18px;
  padding: 0px 10px;
}
.modal #modal-content {
  margin-bottom: 20px;
  max-height: 85%;
  overflow-y: auto;
  white-space: pre-wrap;
}

.modal.isVisible {
  visibility: visible;
}

@media screen and (max-width: 400px) {
  .note {
    width: 250px;
  }
}

/*# sourceMappingURL=style.css.map */
